* {
  box-sizing: border-box;
}

.wrap {
  margin: 0 auto;
  width: 500px;
  height: 100%;
}



.email,
.password {
  width: 500px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid #333;
  background-color: #ffffff;

}

label {
  padding-right: 10px;
}

input {
  margin-top: 10px;
}

input:focus {
  outline: none;
  /* 取消focus效果 */
}

.btn {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn input {
  width: 150px;
  height: 50px;
  margin: 20px;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.signUp,
.logIn {
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin: 30px;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.signUp {
  background-color:#ffce49;
  color: #816516;
}

.signUp:hover {
  background-color:  #ffc31f;
  color:  #816516;
}


.logIn {
  background-color: #06a81c;
  color: #fff;
}

.logIn:hover {
  background-color: #047714;
  color: #fff;
}
